/* ========================== Component Name ========================== */
$component: .hero4;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;
  overflow: hidden;
  
  &__wrap {
    @apply relative flex w-full mx-auto max-w-screen-xxl text-wire-dark bg-wire-light;
    /*
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    */
    display: grid;
    grid-gap: 2rem;
  }

  &__col {
    @apply relative w-full;
  }

  &__img {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

  &__text + .btn {
    margin-top: 2rem;
  }

  &__down {
    position: absolute;
    bottom: 30px;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    left: 3rem;
  }

  /* ========================== Modifiers ========================== */

  &__col--copy {
    @apply py-12 px-12;
  }

  &__col--img {
    padding: 0;
    align-self: end;
  }

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      grid-template-columns: repeat(2, 1fr);
      @apply px-12;
    }    

    &.flip--h &__down {
      left: 50%;
    }

    &.flip--h &__wrap {
      grid-auto-flow:dense;
    }

    &.flip--h &__col--copy {
      grid-column:2;
    }

    &.flip--h &__col--img {
      grid-column:1;
    }


    &__col--copy {
      @apply py-24 px-0;
      align-self: center;
    }
  
    &__col--img {
      height: auto;
    }

    &__img {
      max-width: none;
    }
  
  }

  @screen lg  {
    &__col--copy {
      @apply py-32;
    }
  }

  @screen xl  {
    &__col--copy {
      @apply py-40;
    }
  }

  @screen xxl  {
    &__col--copy {
      @apply py-48;
    }
  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
